@import "reset.css";
/* разбиение на 2 файла */

/*
  MY STYL`ES
 */
body {

  /* background-image: url(dc-online-media-mockup.png); */
  background-size: 00px 20624px;
  background-position: top center;
  background-repeat: no-repeat;
}

h1,h2,h3,p,ul,li,blockquote{
	width: 700px;
  margin: 0 auto;
}

p, h2, h3, a, ul {
	color: #000;
}

h1 {
  font-family: 'PT Sans Caption', sans-serif;
	font-weight: bold;
	font-size: 40px;
	margin-top: 80px;
	margin-bottom: 36px;
	line-height: 46px;
}
/* равнозначная записать p:first-of-type */
h1+p {
	margin-top: 14px;
	font-size: 22px;
	line-height: 32px;
	color: rgba(0, 0, 0, 0.5);
}
a{
	color: inherit;
}
p,h2,h3,ul,li,blockquote{
	font-family: 'PT Sans', sans-serif;
}
p,ul,blockquote{
	font-size: 22px;
	line-height: 34px;
}
p {

	line-height: 30px;
	margin-bottom: 38px;
}
h2+p{
	margin-top: 10px;
}
h2 {
	font-size: 32px;
	font-weight: bold;
	margin-top: 43px;
	line-height: 36px;
}

h3+p{
	margin-top: 6px;
}
h3 {
	font-weight: 800;
	font-size: 22px;
	margin-top: 36px;
	line-height: 34px;

}
blockquote{
	font-style: italic;
	padding-left: 17px;
	border-left: 3px solid black;
}

ul {
	list-style-type: disc;
	font-size: 22px;
	margin-top: 25px;
}

li {
	margin-bottom: 20px;
	line-height: 35px;
}
