@import "reset.css";
/* центрирование */
h1,h2,h3,p,ul,li,blockquote,div,img {
	width: 700px;
  margin: 0 auto;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
