
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1{
  font-family: 'PT Sans Caption', sans-serif;
	font-weight: bold;
	font-size: 40px;
	margin-top: 69px;
	margin-bottom: 4px
}
p:first-of-type{
	font-family: 'PT Sans Caption', sans-serif;
	color: gray;
	font-size: 22px;

	margin-bottom: 14px;
	word-spacing: 0.8px;
}
p{
  font-family: 'PT Sans', sans-serif;
	font-size: 23px ;
	line-height: 30px;
	color: red;
}
body {
	width: 700px;
  margin: 0 auto;
  background-image: url(dc-online-media-mockup.jpg);
  background-size: 800px 20624px;
  background-position: top center;
  background-repeat: no-repeat;
}
h2{
	font-family: 'PT Sans', sans-serif;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 15px;
}
.p1{
	margin-bottom: 47px;
}
p{
	margin-bottom: 8px;
	line-height: 34px;
}
.a1{
		color: gray;
}
a{
	color: black;
}
/* про аварийное состояние */

h2{
	/* font-family: 'PT Sans Caption', sans-serif; */

	font-family: 'PT Sans', sans-serif;
	font-weight: 800;
	font-size: 35px;
	margin-bottom: 11px;
}
/* идеология */

/*body{
	margin-top: 100px;
	margin-right: auto;
	margin-bottom: 30px;
	margin-left: 0px;
}*/
